<a href="https://colab.research.google.com/github/921zheng/Excel-catdog/blob/main/Pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
### Hello Everyone

In [6]:
print('hi')

hi

In [9]:
import pandas as pd

### hfidsof

In [44]:
customers = [
    {'ID101':1},
    {'ID102':2},
    {'Id103':3},
]

In [45]:
df=pd.DataFrame(customers)
print(df)

   ID101  ID102  Id103
0    1.0    NaN    NaN
1    NaN    2.0    NaN
2    NaN    NaN    3.0

In [28]:
data = {
    'Date': ['14.08.2023', '17.8.2023', '19.9.2023', '21.10.2023', '1.11.2023'],
    'PersonalID': ['00234', '00235', '00236', '00237', '00238'],
    'First name': ['John', 'Elen', 'Bill', 'Jack', 'Mary'],
    'Second name': ['Cane', 'Tudor', 'Wick', 'Sommerset', 'Lamb']}

In [37]:
df=pd.DataFrame(data)
print(df)
print(df.Date)
print(df.dtypes)

         Date PersonalID First name Second name
0  14.08.2023      00234       John        Cane
1   17.8.2023      00235       Elen       Tudor
2   19.9.2023      00236       Bill        Wick
3  21.10.2023      00237       Jack   Sommerset
4   1.11.2023      00238       Mary        Lamb
0    14.08.2023
1     17.8.2023
2     19.9.2023
3    21.10.2023
4     1.11.2023
Name: Date, dtype: object
Date           object
PersonalID     object
First name     object
Second name    object
dtype: object

In [69]:
student=[{'ID':0, 'age':34},
         {'ID':1, 'age':34},
         {'ID':2, 'age':34},
          {'ID':3, 'age':34},
         {'ID':4, 'age':34},
         {'ID':5, 'age':34}
         ]

In [76]:
df=pd.DataFrame(student)
print(df)

   ID  age
0   0   34
1   1   34
2   2   34
3   3   34
4   4   34
5   5   34

In [77]:
print(df['age'].mean())

34.0

In [79]:
print(df.age.mean())

34.0

In [78]:
print(df['age'].max())

34

In [56]:
print(df.age)

0    [30, 34, 34]
1              34
2              34
3              34
4              34
5              34
Name: age, dtype: object

In [57]:
print(df['age'])

0    [30, 34, 34]
1              34
2              34
3              34
4              34
5              34
Name: age, dtype: object

In [58]:
print(df.loc[1])

ID      1
age    34
Name: 1, dtype: object

In [59]:
print(df.loc[1,'age'])

34

In [61]:
print(df.loc[[2,5,3],'age'])

2    34
5    34
3    34
Name: age, dtype: object

In [74]:
print(df.loc[1:3])

   6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
1  7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  5  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.584  0.585  0.586  0.587  0.588  0.589  0.590
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0

[3 rows x 785 columns]

In [72]:
df.to_csv('age_csv')

In [73]:
df=pd.read_csv('/content/sample_data/mnist_train_small.csv')
print(df)

       6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1      7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2      9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
4      2  0    0    0    0    0    0    0    0    0  ...      0      0      0
...   .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
19994  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
19995  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
19996  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
19997  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
19998  5  0    0    0    0    0    0    0    0    0  ...      0      0      0

       0.584  0.585  0.586  0.587  0.588  0.589  0.590
0          0      0      0      0      0      0      0
1          0      0      0      0      0      0      0
2          0      0      0      0      0      0      0
3          0      0      0      0      0      0      0
4          0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...
19994      0      0      0      0      0      0      0
19995      0      0      0      0      0      0      0
19996      0      0      0      0      0      0      0
19997      0      0      0      0      0      0      0
19998      0      0      0      0      0      0      0

[19999 rows x 785 columns]